@import "./../../styles/General.scss";

//DESKTOP

@media only screen and (min-width: $desktop) {
  .choose-wheel-teaser-two {
    display: flex;
    justify-content: center;
  }
}

//TABLET
.choose-wheel-title {
  grid-column: 1 / 5;
  grid-row: 1 / 2;

  display: flex;
  align-items: flex-end;
  padding: 0 0 1em 0;
}

.choose-wheel-teaser {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 1em 0;
}

.wheel-one {
  grid-column: 2 / 4;
  grid-row: 2 / 4;
}
.wheel-two {
  grid-column: 5/7;
  grid-row: 2 / 4;
}
.wheel-three {
  grid-column: 8/10;
  grid-row: 2 / 4;
}
.wheel-four {
  grid-column: 11/13;
  grid-row: 2 / 4;
}
.choose-wheels-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  height: 12em;

  img {
    height: 100px;
  }

  h4 {
    margin: 1em 0 0 0;
  }
}

img {
  height: 100%;
}

//MOBILE
@media only screen and (max-width: $mobile) {
  .choose-wheel-title {
    display: flex;
    align-items: flex-end;
    padding: 2em 2em 0 2em;
  }
  .choose-wheel-teaser-one {
    display: flex;
    align-items: flex-end;
    padding: 2em;
  }

  .choose-wheel-teaser-two {
    margin: 0 -15px 0 0;
  }
}
