@import "./../../styles/General.scss";
//@import cursor-small from "./../styles/images/cursor-small.png";

//DESKTOP

@media only screen and (min-width: $desktop) {
}

//TABLET
.header {
  background-color: white;
  margin-top: 10px !important;
  margin-bottom: 5px !important;
  height: 50vh;
}
.header-copy {
  grid-column: 1 / 9;
  grid-row: 1 / 2;

  //display: flex;
  //align-items: flex-start;
  text-align: left;
  padding: 6em 0 0;
}

//MOBILE
@media only screen and (max-width: $mobile) {
  .header {
    height: 40vh;
  }
  .header-copy {
    display: flex;
    align-items: flex-end;
    padding: 6em 2em 0em 2em;
  }
}
