@import "./../../styles/General.scss";

.TeaserButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  div {
    grid-column: 1 / 13;
    grid-row: 1 / 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    button {
      width: 100px;
      height: 40px;
      background-color: $black;
      border: none;
      outline: none;
    }
    button:hover {
      background-color: white;
      color: $black;
      transform: scale(1.2);
      transition: all 0.5s ease;
      a {
        color: $black;
        transform: scale(2);
        transition: all 0.5s ease;
      }
    }

    a {
      text-decoration: none;
      color: white;
    }
  }
}
