//-----------HOME : HERO -----------//

@import "./../styles/General.scss";

//TABLET
.hero-copy {
  -webkit-animation: fadeinFirst 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeinFirst 1s; /* Firefox < 16 */
  -ms-animation: fadeinFirst 1s; /* Internet Explorer */
  -o-animation: fadeinFirst 1s; /* Opera < 12.1 */
  animation: fadeinFirst 1s;
}

.video {
  -webkit-animation: fadeinSecond 3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeinSecond 3s; /* Firefox < 16 */
  -ms-animation: fadeinSecond 3s; /* Internet Explorer */
  -o-animation: fadeinSecond 3s; /* Opera < 12.1 */
  animation: fadeinSecond 3s;
}

@keyframes fadeinFirst {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  50% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    animation-delay: 10s;
  }
}

@keyframes fadeinSecond {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }

  /* Finish changes by here */
  40% {
    opacity: 0;
    transform: translateY(-40px);
  }

  /* Between 20% and 100%, nothing changes */
  100% {
    opacity: 1;
    transform: translateY(0);
    animation-delay: 10s;
  }
}



//opacity: 1;
//transform: scale(1);
//transform-origin: bottom;
//transition: opacity 800ms ease, transform 800ms ease;
//transition-property: opacity, transform;
//transition-duration: 800ms, 800ms;
//transition-timing-function: ease, ease;
//transition-delay: 0s, 0s;
//will-change: opacity, transform;

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
