@import "./../styles/General.scss";

//DESKTOP

@media only screen and (min-width: $desktop) {
}

//TABLET
.title {
  grid-column: 1 / 5;
  grid-row: 1 / 2;

  display: flex;
  align-items: flex-end;
  padding: 0 0 1em 0;
}

.teaser-video {
  display: flex;
  flex-direction: row;
  justify-content: center;
  grid-column: 2/12;
  grid-row: 2/2;
  padding: 0 0 1em 0;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}
button:hover {
  transform: scale(1.2);
  transition: all 0.5s ease;
}

//MOBILE
@media only screen and (max-width: $mobile) {
  .title {
    display: flex;
    align-items: flex-end;
    padding: 2em 2em 0 2em;
  }

  .teaser-video {
    margin: 0 -15px 0 0;
  }
}
